li {
  list-style: none;
}

.home-header {
  text-align: right;
  background: rgba(19,35,47,.9);
  box-shadow: 0 4px 10px 4px rgba(19,35,47,.3);
  padding: 4px 0;
}

.signout-button {
  height: 30px;
  font-family: sans-serif;
  font-size: 17px;
  margin-right: 20px;
  background: #179b77;
  color: white;
  border: none;
  border-radius: 2px;
}